/* Color palette */
$black: #000000;
$white: #ffffff;
$pink-1000: #EC6E8D;
$yellow-1000: #F6D28A;
$blue-1000: #6794E0;
$yellow-1000: #F8D563;

/* Gray */
$gray: #ADB5BD;
$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;

/* Indigo */
$indigo: #5F68A3;
$indigo-100: #C5C8DE;
$indigo-200: #ACB1CF;
$indigo-300: #9298C0;
$indigo-400: #7880B2;
$indigo-500: #5F68A3;
$indigo-600: #4F5789;
$indigo-700: #404770;
$indigo-800: #313655;
$indigo-900: #22253B;

/* Blue */
$blue: #00B9FF;
$blue-100: #A8E7FE;
$blue-200: #81DDFE;
$blue-300: #5AD2FE;
$blue-400: #34C7FD;
$blue-500: #00B9FF;
$blue-600: #0B9FD5;
$blue-700: #0981AC;
$blue-800: #076384;
$blue-900: #05445B;

/* Green */
$green: #28A75D;
$green-100: #B2DFC5;
$green-200: #8FD1AB;
$green-300: #6DC391;
$green-400: #4AB577;
$green-500: #28A75D;
$green-600: #228C4E;
$green-700: #1B723F;
$green-800: #155731;
$green-900: #0E3C21;

/* Red */
$red: #DC3551;
$red-100: #F2B7C1;
$red-200: #ED96A5;
$red-300: #E77689;
$red-400: #E2556D;
$red-500: #DC3551;
$red-600: #B92D44;
$red-700: #962437;
$red-800: #721C2A;
$red-900: #4F131D;

/* Purple */
$purple: #6F42C1;
$purple-100: #CBBBE9;
$purple-200: #B49DDF;
$purple-300: #9D7ED5;
$purple-400: #8660CB;
$purple-500: #6F42C1;
$purple-600: #5D37A2;
$purple-700: #4B2D83;
$purple-800: #3A2264;
$purple-900: #281845;

/* Pink */
$pink: #CE3B84;
$pink-100: #EDB9D3;
$pink-200: #E699BF;
$pink-300: #DE79AB;
$pink-400: #D65B98;
$pink-500: #CE3B84;
$pink-600: #AC336F;
$pink-700: #8B2A5A;
$pink-800: #6A2045;
$pink-900: #4A1530;

/* Teal */
$teal: #20C997;
$teal-100: #AFECDA;
$teal-200: #8BE3C9;
$teal-300: #67DAB8;
$teal-400: #44D2A8;
$teal-500: #20C997;
$teal-600: #1BA97F;
$teal-700: #168967;
$teal-800: #11694F;
$teal-900: #0C4836;

/* Orange */
$orange: #FD7114;
$orange-100: #FECCAA;
$orange-200: #FEB585;
$orange-300: #FE9F5F;
$orange-400: #FD883A;
$orange-500: #FD7114;
$orange-600: #D55F11;
$orange-700: #AC4D0E;
$orange-800: #843B0A;
$orange-900: #5B2907;

/* Yellow */
$yellow: #FFC107;
$yellow-100: #FFE9A6;
$yellow-200: #FFDF7E;
$yellow-300: #FFD556;
$yellow-400: #FFCB2F;
$yellow-500: #FFC107;
$yellow-600: #D6A206;
$yellow-700: #AD8305;
$yellow-800: #856404;
$yellow-900: #5C4503;

/* Cyan */
$cyan: #17A2B8;
$cyan-100: #ABDEE5;
$cyan-200: #86CFDA;
$cyan-300: #61C0CF;
$cyan-400: #3CB1C3;
$cyan-500: #17A2B8;
$cyan-600: #13889B;
$cyan-700: #106E7D;
$cyan-800: #0C5460;
$cyan-900: #083A42;

/* ======================= */
/* Color theme */
$primary: $blue;
$secondary: $indigo;
$success: $green;
$danger: $red;
$warning: $yellow;
$information: $cyan;
$light: $gray-100;
$dark: $indigo-900