@import "_color.scss";
@font-face{
	src: url('/assets/fonts/NotoSans-Regular.ttf');
	font-family: Noto Sans;
}

@font-face{
	src: url('/assets/fonts/NotoSansKR-Regular.otf');
	font-family: Noto Sans KR;
}

@font-face{
	src: url('/assets/fonts/NotoSans-Bold.ttf');
	font-family: Noto Sans Bold;
}

body{
    .home-theme-image{
		margin: auto;
		background: none;
		background-repeat: no-repeat;
    }

	.input-email-block{
		width: 100%;
		height: 200px;
		background-color: $pink-1000;
		text-align: center;	
		position: relative;
	}

	.green-card{
		background-color: rgba(169, 227, 190, 0.39);
		width: 90%;
		margin:auto;
		padding-top: 12px;
	    padding-bottom: 12px;
	    padding-left: 20px;
	    border-left: 10px solid #5FB7A1;
	}

	.blue-card{
		background-color: rgba(86, 146, 248, 0.2);
		width: 90%;
		margin:auto;
		padding-top: 12px;
	    padding-bottom: 12px;
	    padding-left: 20px;
	    border-left: 10px solid #5692F8;
	}

	.red-card{
		background-color: rgba(255, 213, 86, 0.39);
		width: 90%;
		margin:auto;
		padding-top: 12px;
	    padding-bottom: 12px;
	    padding-left: 20px;
	    border-left: 10px solid #FFD556;
	}

	.card-col{
		margin-bottom: 20px;
	}


	.input-email-block-child{
		position: absolute;
		background-color: $pink-1000;
		margin-top: 60px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
	}

	.email-input-field{
		border-radius: 30px 0 0 30px;
		border: solid 2px black;
	}

	.email-input-group{
		width: 80%;
	    margin: auto;
	    background: $pink-1000;
	}

	.sign-in-link{
		font-size: 15px;
		color:$white;
	}

	.image{
		width: 100%;
	}

    .green-bar{
    	position: absolute;
		width: 328.03px;
		height: 397.75px;
		top: 384px;
		background: url('/assets/images/icons-01.png');
    }

	textarea {
		resize: none;
	}
	.form-label {
		font-size: 12px;
		color: #5e9bfc;
		margin: 0;
		display: block;
		opacity: 1;
		-webkit-transition: .333s ease top, .333s ease opacity;
		transition: .333s ease top, .333s ease opacity;
	}
	.form-control-1 {
		font-family: Noto Sans KR;
		border-radius: 0;
		border-color: $black;
	   	border-width: 0 0 4px 0;
	   	border-style: none none solid none;
	   	box-shadow: none;
	   	padding: unset!important;
	}
	.form-control:focus {
		box-shadow: none;
		border-color: #5e9bfc;
	}
	.js-hide-label {
		opacity: 0; 	
	}
	.js-unhighlight-label {
		color: #999 
	}
	.btn-start-order {
		background: 0 0 #ffffff;
	    border: 1px solid #2f323a;
	    border-radius: 3px;
	    color: #2f323a;
	    font-family: "Raleway", sans-serif;
	    font-size: 16px;
	    line-height: inherit;
	    margin: 30px 0;
	    padding: 10px 50px;
	    text-transform: uppercase;
	    transition: all 0.25s ease 0s;
	}
	.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
		border-color: #5e9bfc;
		color: #5e9bfc;
	}
	.btn-sign-up-input{
		font-family: Noto Sans KR;
		border-radius: 0 30px 30px 0;
		background-color: $black;
		color: $white;
		outline: none;
    	border: none;
    	padding-left: 15px;
    	padding-right: 15px;
	}

	.sign-up-image{
		height: 0;
		background: none;
		background-repeat: no-repeat;
		margin-left: 0;
	}
	.theme-title{
		font-family: Noto Sans Bold;
	    font-style: normal;
	    font-weight: 900;
	    font-size: 50px;
	    width: 100%;
	    margin: auto;
	    text-align: center;
	    line-height: 50px;
	}

	.theme-text{
		font-family: Noto Sans;
	    font-style: normal;
	    font-weight: 300;
	    font-size: 16px;
	    margin: auto;
	    text-align: center;
	    width: 100%;
	}

	.home-background-image{
		height: 300px;
		margin-top: 30px;
		background: url('/assets/images/theme-image-mobile.png');
		background-blend-mode: darken;
		background-repeat: no-repeat;
	    object-fit: contain;
	    max-height: 100%;
	}

	.hero-star{
		display: none;
	}

	.hero-star-small{
		display: none;
	}

	.home-theme-small-image{
		background: none;
		background-repeat: no-repeat;
	}

	.btn-sign-up-submit{
		font-family: Noto Sans KR;
		background-color: #5692F8;
		color: black;
	    font-weight: 900;
	    border-radius: 30px;
	    padding: 7px 15px;
	}

	.price_range_label{
		font-size: 16px;
		font-family: Noto Sans KR;
		color: #7A7A7A;
	}

	.sign-up-form{
		background: url('/assets/images/sign-up-image-mobile.png');
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
	}

	#sign-up-form{
		width: 70%;
    	margin: auto;
	}

	.content-title{
		font-family: Noto Sans Bold;
	    font-style: normal;
	    font-weight: 800;
	    font-size: 32px;
	    width: 100%;
	    margin: auto;
	    text-align: center;
	    width: 90%;
	    margin-top: 10%;
	}

	.hero_title{
		font-family: 'Noto Sans';
	    font-style: normal;
	    font-weight: 800;
	    font-size: 32px;
	    width: 100%;
	    margin: auto;
	    text-align: center;
	    width: 90%;
	    margin-top: 10%;
	}

	.content-text{
		width: 90%;
		font-family: 'Noto Sans';
	    font-style: normal;
	    font-weight: 300;
	    font-size: 20px;
		border-radius: 50%;
		color: $black;
		text-align: center;
		background: $white;
		border: solid 20px $pink-1000;
		position: relative;
    	margin: auto;
	}

	.content-text span{
		position: absolute;
	    left: 2%;
	    top: 25%;
	}

	.hand-image{
		background: url('/assets/images/hand-image-mobile.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 300px;
		width: 300px;
		position: relative;
    	top: -180px;
	}
	.content-yellow-footer{
		width: 100%;
		height: 120px;
		background: $yellow-1000;
	}

	.text-circle{
		display: none;
    }

    .bullet-item-title{
		font-family: Noto Sans Bold;
		font-size: 20px;
		font-weight: 900;
	}

	.card-item-title{
		font-family: Noto Sans Bold;
		font-size: 16px;
		font-weight: 900;
	}

	.bullet-item-content{
		font-family: Noto Sans;
		font-size: 16px;
		font-weight: 400;
	}

	.bullet-header{
		width: 100%;
		background: $yellow-1000;
		margin-bottom: 5%
	}

	.hand-header{
		width: 100%;
		background: $yellow-1000;
		margin-bottom: 5%
	}

	.phone-image{
		background: none;
		height: 0;
		padding-right: 0!important;
	}

	.card-row{
		margin-top: 5%;
	}

	.site-footer{
		background-color: #212529;
		color: $white!important;
		font-family: Noto Sans;
		padding-top: 4%;
		padding-bottom: 2%;
		text-align: center;
	}

	.footer-list{
		list-style: none;
		padding-left: 0;
	}

	.footer-title{
		font-weight: 900;
		display: none;
		font-family: Noto Sans Bold;
	}

	.app-logo{
		  object-fit: cover;
		  width: 50%;
		  max-height: 100%;
	}

	.app-logo-header{
		  object-fit: cover;
		  width: 100%;
		  max-height: 100%;
	}

	.social-icons > li{
		display: inline;
		margin-right: 0;
		padding: 3%;
	}

	.social-icons{
		padding-left: 0;
	}

	.footer-info{
		display: none;
	}

	.bullet-item-block{
		margin-bottom: 10%;
		padding-right: 0px;
		padding-left: 0px;
		max-width: 100%;
	}

	.contact-info{
		width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}

	.navbar-brand{
		margin-left: 5%;
	}

	.header-row{
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.site-header{
		font-family: Noto Sans KR;
	}

	.sticky{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 3;
		background: $white;
	}

	.sign-in-link-header{
		display: none;
	}

	.sign-in-header{
		padding-top: 5px;
	}

	// .sticky + .site-content {
	//   padding-top: 102px;
	// }

	.site-content {
	  padding-top: 100px;
	}

	.sign-in-link-show{
		font-weight: 300;
		color: #343A3D;
		float: right;
		margin-right: 5%;
		display: block!important;
	}

	.btn-sign-in-header{
		display: none;
	}

	.btn-sign-in-header-show{
		border-radius: 30px;
		background-color: $black;
		color: $white;
		font-family: Noto Sans KR;
		padding-left: 15px;
	    padding-right: 15px;
	    font-weight: 900;
	    display: block!important;
	    float:right;
	    outline: none;
    	border: none;
	}

	.form-check-label{
		font-size: 16px;
		font-family: Noto Sans;
	}

	.checkmark {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 25px;
	  width: 25px;
	  background-color: #eee;
	}

	.input-email-block-title{
		font-family: Noto Sans;
		font-weight: 300;
		font-size: 20px;
	}

	.hand-asset{
		display: none;
	}

	.bullet-header > .theme-text, .hand-header > .theme-text{
		display: none;
	}

	.yellow-star{
		display: none;
	}

	.green-retangle{
		display: none;
	}

	.sign-up-header{
		border-bottom: none;
	}
}

@media screen and (min-width: 1445px) {
	.contact-info{
	    padding-right: 0!important;
	    padding-left: 0!important;
	}

	.homie-info{
		display: none;
	}

	.footer-title{
		display: block!important;
	}

	.footer-info{
		display: block!important;
	}

	.theme-title{
		font-family: Noto Sans;
	    font-style: normal;
	    font-weight: 800;
	    font-size: 40px!important;
	    text-align: left!important;
	    width: 70%!important;
	    margin-left: 0!important;
	}
	.theme-text{
		font-family: Noto Sans;
	    font-style: normal;
	    font-weight: 300;
	    text-align: left!important;
	}

	.address-info{
		position: absolute;
		left: 0;
	}
}


@media screen and (min-width: 768px) {
	.green-retangle{
		display: block!important;
		position: absolute;
		bottom: 0px;
		object-fit: contain;
		background: url('/assets/images/green-retangle-big.png');
		height: 300px;
	    width: 50%;
	    background-size: contain;
	    background-repeat: no-repeat;
	    left: 45%;
	}

	.yellow-star{
		display: block!important;
		position: absolute;
		top: 30px;
		left: 100px;
		object-fit: contain;
	}

	.bullet-header > .theme-text, .hand-header > .theme-text{
		display: block!important;
	}

	.input-email-block-child{
		text-align: left!important;
		width: 70%;
	}

	.hero_block{
		width: 70%;
		margin: auto;
		margin-bottom: 50px;
	}

	.site-content{
		padding-top: 120px!important;
	}

	.bullet-item-block{
		margin-bottom: 0!important;
		max-width: inherit!important;
		// margin-top: 100px;
	}

	.green-card{
		background-color: #5FB7A1!important;
		margin:auto;
		padding-top: 12px;
	    padding-bottom: 12px;
	   	padding-left: 15px;
	    padding-right: 15px;
	    border-left: none!important;
	    float: left;
	    text-align: center;
	    width: 100%!important;
	}

	.blue-card{
		background-color: #5692F8!important;
		margin:auto;
		padding-top: 12px;
	    padding-bottom: 12px;
	    padding-left: 15px;
	    padding-right: 15px;
	    border-left: none!important;
	    float: left;
	    text-align: center;
	    width: 100%!important;
	}

	.red-card{
		background-color: #FFD556!important;
		margin:auto;
		padding-top: 12px;
	    padding-bottom: 12px;
	    padding-left: 15px;
	    padding-right: 15px;
	    border-left: none!important;
	    float: left;
	    text-align: center;
	    width: 100%!important;
	}

	// .green-card > span, .blue-card > span , .red-card > span {
	// 	border-bottom: 4px solid $black;
	// }

	.home-theme-small-image{
		width: 110px;
		height: 114px;
		background: url('/assets/images/icons-03-small.png')!important;
		background-repeat: no-repeat!important;
		margin-top: -350px;
    	margin-left: 480px;
	}

	.home-theme-image{
		width: 177px;
		height: 183px;
		background: url('/assets/images/icons-03.png')!important;
		background-repeat: no-repeat;
		//position: relative;
	    margin-left: 150px!important;
    	margin-top: -160px!important;
    	object-fit: contain;
		max-height: 100%;
    }

	.home-background-image{
    	/* image 16 */
		background: url('/assets/images/hero_background.png')!important;
		background-blend-mode: darken;
		//height: 100%!important;
		background-size: contain!important;
		background-repeat: no-repeat!important;
		object-fit: contain;
		max-height: 100%;
    }

    .hero-star{
    	display: block!important;
    	background: url('/assets/images/hero-yellow-star.png');
		background-blend-mode: darken;
		height: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		object-fit: contain;
		max-height: 100%;
		position: relative;
    	top: -20%;
    }

    .hero-star-small{
    	display: block!important;
    	background: url('/assets/images/hero-yellow-star-small.png');
    	object-fit: contain;
		max-height: 100%;
		height: 100px;
		position: relative;
		background-repeat: no-repeat!important;
    	top: -60%;
    	left: 30%;
    }

   
	.theme-title{
		font-family: Noto Sans;
	    font-style: normal;
	    font-weight: 900;
	    font-size: 40px!important;
	    text-align: left!important;
	    width: 250px!important;
	    margin-left: 0!important;
	}
	.theme-text{
		font-family: Noto Sans;
	    font-style: normal;
	    font-weight: 300;
	    text-align: left!important;
	}

	.app-logo-header{
		  width: 50%!important;
	}

	.contact-info{
	    padding-right: 0!important;
	    padding-left: 0!important;
	}

	.address-info{
		position: absolute;
		left: 0;
	}

	.homie-info{
		display: none;
	}

	.footer-title{
		display: block!important;
	}

	.footer-info{
		display: block!important;
	}

	.social-icons > li{
		display: inline;
		margin-right: 5%!important;
		padding: 0!important;
	}

	.site-footer{
		text-align: left!important;
	}

	.phone-image{
		background: url('/assets/images/phone-image-large.png')!important;
		height: 100%!important;
		background-size: contain!important;
		background-repeat: no-repeat!important;
		object-fit: contain;
		max-height: 100%;
		position: inherit;
    	right: 40%;
	}

	.hand-asset{
		display: block!important;
		background: url('/assets/images/hand-asset.png');
		background-blend-mode: darken;
		//height: 100%!important;
		background-size: contain;
		background-repeat: no-repeat;
		height: 100%;
		object-fit: contain;
		max-height: 100%;
	}

	.card-col{
		margin-right: 0px;
		margin-bottom: 0!important;
	}

	.bullet-card-block{
		float: right;
	}

	.bullet-header{
		width: 100%;
		background: none!important;
	}

	.hand-header{
		width: 100%;
		background: none!important;
		margin-top: 170px;
	}

	.bullet-point-block{
		background: url('/assets/images/blue-retangle.png');
		background-size: cover!important;
		background-repeat: no-repeat!important;
		height: 700px;
    	width: 100%;
    	object-fit: cover;
	  	width: 100%;
	  	max-height: 100%;
	  	position: relative;
	}
	.content-yellow-footer{
		width: 0!important;
		height: 0!important;
		background: none!important;
	}

	.hand-image{
		background: none!important;
		background-size: cover;
		background-repeat: no-repeat;
		height: 0!important;
		width: 0!important;
	}

	.content-text{
		font-family: Noto Sans;
	    font-style: normal;
	    font-weight: 300;
	    font-size: 20px;
		font-size: 40px!important;
	    text-align: left!important;
	    margin-top: 300px!important;
	    width: 0!important;
	    margin-left: 80%!important;
	    background: #4382F6!important;
	    border: none!important;
	}
	
	.content-title{
		font-family: Noto Sans;
	    font-style: normal;
	    font-weight: 800;
	    width: 700px!important;
	    margin-left: 0!important;
	    text-align: left!important;
	    display: inline-block;
	    margin-top: 0!important;
	}

	.hero_title{
		font-family: Noto Sans Bold;
	    font-style: normal;
	    font-weight: 800;
	    width: 200px!important;
	    margin-left: 0!important;
	    text-align: left!important;
	    display: inline-block;
	    margin-top: 7%!important;
	}

	.content-text span{
		display: none!important;
	}

	.content-block-red-circle{
	    position: relative;
	}

	.content-block{
		// background: url('/assets/images/content-background-2.png');
		// background-size: cover!important;
		// background-repeat: no-repeat!important;
		// height: 1500px;
  // 	 	width: 100%;
  //   	overflow: hidden;
  //   	position: relative;
  //   	object-fit: contain;
		// width: 100%;
		// max-height: 100%;
		background: url('/assets/images/blue-retangle.png');
		background-size: cover!important;
		background-repeat: no-repeat!important;
		height: 700px;
    	width: 100%;
    	object-fit: cover;
	  	width: 100%;
	  	max-height: 100%;
	}

	.content-text{
		display: none!important;
	}

	.circle-block{
		height: 1000px;
    	width: 100%;
    	overflow: hidden;
    	position: relative;
	}

	#sign-up-form{
		width: 80%!important;
    	margin: unset!important;
	}

	.sign-up-form{
		background: none!important;
		margin-left: 2rem!important;
		margin-right: 2rem!important;
		width: unset!important;
	}

	.sign-up-image{
		height: 700px!important;
		background: url('/assets/images/sign-up-image-large.png')!important;
		background-repeat: no-repeat!important;
		object-fit: contain;
	  	width: 100%;
	  	max-height: 100%;
	  	background-size: contain!important;
    }

	.sign-in-link{
		font-family: Noto Sans KR;
		font-size: 20px!important;
		color:$white;
	}

	.email-input-group{
	    margin: auto;
	    background: $pink-1000;
	}

	.text-circle{
		display: block!important;
		width: 650px!important;
	    height: 650px!important;
	    margin-left: auto;
	    background: url('/assets/images/content-circle.png');
	    background-repeat: no-repeat;
	    background-size: contain;
	    object-fit: contain;
	  	width: 100%;
	  	max-height: 100%;
	  	padding-top: 200px;
    	padding-left: 20%;
    	padding-right: 10%;
	}

	.text-circle > span{
		font-family: Noto Sans;
		font-size: 30px;
		font-weight: 400;
	    width: 50%;
	}

	.sign-up-modal-lg{
		max-width: 60%;
	}
}

