<nav class="container-fluid site-header">
    <div class="">
        <div class="row header-row">
            <div class="col-6 col-md-6">
                <a class="navbar-brand" href="#">
                    <img src="{{url('/assets/images/app-logo-small-black.png')}}" class="app-logo-header" />
                </a>
            </div>
            <div class="col-6 col-md-6 sign-in-header">
            
            </div>
        <!-- start logo block -->
        </div>
    </div>
</nav>