{% set navigations = craft.entries().section('topNav').all() %}
{% set currentSlug = craft.app.request.getFullPath() %}
{% set navigations = navigations|map(n => n|merge({
        targetObj: n.menuEntry.one() ? n.menuEntry.one() : null 
})) %}
{% set navigations = navigations|map(n => n|merge({
        navUrl: n.menuUrl ? n.menuUrl : (n.targetObj ? n.targetObj.url : '/#' ),
        isActive: currentSlug == (n.targetObj ? n.targetObj.slug : null)
})) %}

{% set noActiveMenu = navigations|reduce((a,n) => a and not n.isActive, true)%}


<div id="nav" class="top-nav">

  <div class="container-fluid">
    <nav class="navigation navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="{{ url('/') }}">
         
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto {{ noActiveMenu ? '' : 'has-active' }}">
                {% for navigation in navigations %}
                    <li class="nav-item {{ navigation.isActive ? 'active' : '' }}">
                        <a class="nav-link header"
                            href="{{ navigation.navUrl }}"
                            data-key="{{ navigation.targetObj.slug }}">
                            {{ navigation.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
  </div>
</div>
