{% set products = [
    { key: 'commerical_property', value: 'Commerical Property Finance' },
    { key: 'property_development', value: 'Property Development' },
    { key: 'land_bank', value: 'Land Bank' },
    { key: 'business', value: 'Business' },
    { key: 'covid_business', value: 'COVID Business' },
    { key: 'equipment', value: 'Equipment' },
    { key: 'venture', value: 'Venture' },
    { key: 'senior_mezzanine_dept', value: 'Senior Mezzanine Debt' },
] %}
<!-- Modal -->
<div class="modal-loan-questionnaire">
    <div class="modal fade" id="modalQuestionnaire" tabindex="-1" role="dialog" aria-labelledby="modalQuestionnaireLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalQuestionnaireLabel">Loan Questionnaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-loan-questionnaire">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="whoAreYou">Who are you?</label>
                            <div class="dropdown" id="whoAreYou" name="whoAreYou">
                              <button class="btn btn-secondary dropdown-toggle who-are-you" type="button" id="dropdownWhoAreYou" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select a choose
                              </button>
                              <div class="dropdown-menu who-are-you w-100" aria-labelledby="dropdownWhoAreYou">
                                <a class="dropdown-item" href="#">A borrower</a>
                                <a class="dropdown-item" href="#">A main</a>
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="purpose">I need finance for:</label>
                            <div class="dropdown" id="purpose" name="purpose">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownPurpose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select a choose
                              </button>
                              <div class="dropdown-menu purpose w-100" aria-labelledby="dropdownPurpose">
                                {% for product in products %}
                                    <a class="dropdown-item" href="#" data-key={{product.key}}>{{product.value}}</a>
                                {% endfor %}
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="d-flex mb-4" for="amount-to-borrow">Amount to borrow: <input type="text" id="output-amount" name="output-amount"></label>
                            <div class="range-wrap">
                                <input type="range" class="range" id="amount-to-borrow" name="amount-to-borrow" min="100" max="5000" value="500">
                                <div class="min-max-value">
                                    <div class="min-value">
                                        <span>$100K</span>
                                    </div>
                                    <div class="max-value">
                                        <span>$5M+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="mt-4 mb-4">
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" data-toggle="tab" href="#get-a-quote" role="tab" aria-controls="get-a-quote" aria-selected="true">Get a quote</a>
                                <a class="nav-item nav-link" data-toggle="tab" href="#schedule-a-call" role="tab" aria-controls="schedule-a-call" aria-selected="false">Schedule a call</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="myTabContent">
                            <div id="get-a-quote" class="tab-pane fade show active" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group">
                                    <label for="quote-name">Name</label>
                                    <input name="quote-name" type="text" class="form-control" id="quote-name" placeholder="Adam Smith">
                                </div>
                                <div class="form-group">
                                    <label for="quote-email">Email</label>
                                    <input name="quote-email" type="email" class="form-control" id="quote-email" placeholder="example@email.com">
                                </div>
                                <div class="form-group">
                                    <label for="quote-phone">Phone</label>
                                    <input name="quote-phone" type="text" class="form-control" id="quote-phone" placeholder="+61 123 456 789">
                                </div>
                            </div>
                            <div id="schedule-a-call" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="form-group">
                                    <label for="schedule-callback">Best time to call</label>
                                    <div class="dropdown" id="schedule-callback" name="schedule-callback">
                                      <button class="btn btn-secondary dropdown-toggle schedule-callback" type="button" id="dropdownSchedule" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select a choose
                                      </button>
                                      <div class="dropdown-menu schedule-callback w-100" aria-labelledby="dropdownSchedule">
                                        <a class="dropdown-item" href="#">9 am - 12pm</a>
                                        <a class="dropdown-item" href="#">12 pm - 3pm</a>
                                        <a class="dropdown-item" href="#">3 pm - 6pm</a>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="schedule-name">Name</label>
                                    <input name="schedule-name" type="text" class="form-control" id="schedule-name" placeholder="Adam Smith">
                                </div>
                                <div class="form-group">
                                    <label for="schedule-email">Email</label>
                                    <input name="schedule-email" type="email" class="form-control" id="schedule-email" placeholder="example@email.com">
                                </div>
                                <div class="form-group">
                                    <label for="schedule-phone">Phone</label>
                                    <input name="schedule-phone" type="text" class="form-control" id="schedule-phone" placeholder="+61 123 456 789">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="submit btn btn-red">Submit</button>
                    </div>
                </form>
                <div class="thank-you">
                    <div class="title mb-4">
                        <h3>Thank you for your time</h3>
                    </div>
                    <div class="content mb-4">
                        <p>We’ll be getting in touch with you as soon as we can! In the mean time, check out some other information about Lenda, what we do and what we’ve done:</p>
                    </div>
                    <div class="link-ref d-flex flex-column">
                        <a href="javascript:void(0)">Our Products</a>
                        <a href="javascript:void(0)">Previous Deals</a>
                        <a href="javascript:void(0)">Testimonials</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>