{% set testimonials = [
    {
      quote: 'I urgently required a residual stock refinance for 35 units out of 120 units in the apartment complex that we have just completed. Josh was able to turn around an offer within 24 hours, with a settlement date in 3 weeks and an incredible interest rate! Will be using Lenda for all our developments!',
      name: 'Frank',
      address: 'from Brisbane, QLD'
    },
    {
      quote: 'We needed a refinance 1st and 2nd mortgage on our sunseeker yacht, after speaking with 4 other brokers and multiple lenders we connected with Josh to discuss. Josh turned around an offer the within 48 hours and we settled the deal the following week. Josh walked us through the whole process from start to finish, will definitely be coming back!',
      name: 'Karen Long',
      address: 'from Sydney, NSW'
    },
    {
      quote: 'My client needed a $35M acquisition finance facility to acquire distressed property assets in QLD. After getting turned away from a number of banks, we connected with Lenda to discuss the loan. After speaking with Josh we were able to lower the equity requirement and increase the LVR to 75%, and settled within 3 weeks. Highly, highly recommend Lenda!',
      name: 'Jared B',
      address: 'from Melbourne, VIC'
    },
    {
      quote: 'After dealing with multiple brokers for a period of 4 months and not getting a result, we decided to reach out to Lenda to discuss our $12M construction finance requirement for our apartment complex development in the Gold Coast. Josh was able to turn around an offer on our project within 24 hours! We settled that deal within 4 weeks, and have moved onto our next development. So glad we reach out to Lenda!',
      name: 'Nicholas R',
      address: 'from Adelaide, SA'
    },
    {
      quote: 'Needed a $2.6M refinance for a townhouse project in VIC. Spoke to Josh and the team, and we had an offer at 5% interest the next day. Couldnt recommend these guys enough.',
      name: 'John',
      address: 'from Melbourne, VIC'
    },
] %}


<div class="carousel">
  <div class="carousel-content">
    {% for i in 0..2 %}
    {% for testimonial in testimonials %}
        <div class="carousel-tag">
            <div class="testimonials">
                <p>{{ testimonial.quote }}</p>
            </div>
            <div class="user-info">
                <div class="name">
                    <h5>{{ testimonial.name }}</h5>
                </div>
                <div class="address">
                    <p>{{ testimonial.address }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
