{# ---- Inclusion of bundles that are global in nature #}
{% do view.registerAssetBundle('bundles\\BootstrapBundle') %}
{% do view.registerAssetBundle('bundles\\StylesBundle') %}
{% do view.registerAssetBundle('bundles\\ScriptsBundle') %}
{% do view.registerAssetBundle('bundles\\JqueryBundle') %}
{% do view.registerAssetBundle('bundles\\RangeSliderBundle') %}

{# ---- Global page template to ensure all code snippets are managed correctly, and that each page has the appropriate structures in place #}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" size="16x16" href="/favicon-16x16.png">
        <link rel="icon" type="image/png" size="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" size="192x192" href="/android-chrome-192x192.png">
        <link rel="icon" type="image/png" size="512x512" href="/android-chrome-512x512.png">
        <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/assets/favicon/favicon.ico">
        <link rel="manifest" href="/site.webmanifest">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
            {{ title ?? 'HomieApp' }}
            {% endblock %}
        </title>
    </head>
<body class="{{ entry.section.handle }}">
    {% block body %}
        <header class="sticky">
            {% include "layouts/header/header" %}
        </header>
        <main class="parallax site-content">
            {% block main %}
            {% endblock %}
            <footer>
                {% include "layouts/footer/footer" %}
            </footer> 
        </main>
    {% endblock %}
    {% block modal %}
    {% endblock %}
</body>
</html>
