<!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5 app-logo-col">
            <img src="{{url('/assets/images/app-logo-small-white.png')}}" class="app-logo"/>
            <br/>
            <br/>
            <ul class="social-icons">
                <li><a href="#"><img src="{{url('/assets/images/instagram.png')}}" /></a></li>
                <li><a href="#"><img src="{{url('/assets/images/facebook.png')}}" /></a></li>
                <li><a href="#"><img src="{{url('/assets/images/twistter.png')}}" /></a></li>
                <li><a href="#"><img src="{{url('/assets/images/google.png')}}" /></a></li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="row">
                <h6 class="footer-title">Contact</h6>
            </div>
            <div class="contact-info">
                <div class="row">
                    <div class="col-6 col-md-12">
                        <div class="row">
                          +61 0900 909 9099
                        </div>
                         <div class="row">
                         info@homie.com.au
                        </div>
                    </div>
                    <div class="col-6 col-md-12">
                        <div class="row">
                           www.homie.com.au
                        </div>
                        <div class="row homie-info">
                          @homie.app
                        </div>
                    </div>      
                </div>
            </div>
            <div class="address-info">111 Homie Street, Homie VIC 3000</div>
        </div>

        <div class="col-xs-6 col-md-2 footer-info">
            <h6 class="footer-title">Lorem</h6>
            <ul class="footer-list">
                <li>Lorem</li>
                <li>ipsum dolor</li>
                <li>sit amet,</li>
                <li>consectetur</li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-2 footer-info">
            <h6 class="footer-title">Ipsum</h6>
            <ul class="footer-list">
                <li>Lorem</li>
                <li>ipsum dolor</li>
                <li>sit amet,</li>
                <li>consectetur</li>
            </ul>
        </div>
      </div>
      <hr>
    </div>
  </div>
</footer>