{% set navigations = craft.entries().section('bottomNav').all() %}
{% set navigations = navigations|map(n => n|merge({
        navUrl: n.menuUrl ? n.menuUrl : (n.menuEntry.one() ? n.menuEntry.one().url : '/#' ) 
})) %}
<div id="footer-nav">
    <ul>
        {% for navigation in navigations %}
        <li>
            <a class="" href="{{ navigation.navUrl }}" data-key="terms-and-conditions">{{ navigation.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
