{% extends "layouts/base" %}

{% block main %}
	<div class="container-fluid">
		<div class="row hero_block">
	        <div class="col-12 col-md-6">
				<div class="theme-title">Your world of resources</div>
				<br />
				<div class="theme-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
				<br/>
				<br/>
				<div class="input-group">
		            <input type="search" placeholder="Email address" aria-describedby="button-addon5" class="form-control email-input-field">
		              <button id="hero-sign-up" type="submit" class="btn-sign-up-input" data-toggle="modal" data-target="#signUpModal">Sign up</button>
		        </div>
	        </div>
	        <div class="col-12 col-md-6">
	        	<div class="home-background-image">
	        		<div class="hero-star">
	        			
	        		</div>
	        		<div class="hero-star-small"></div>
	          	</div>
	        </div>
	    </div>
	    <div class="row">
	    	<div class="col-12 col-md-8">
	    		<div class="container bullet-item-block">
				    <div class="row">
				    	<div class="bullet-header">
		    				<h1 class="content-title">What Homie’s about</h1>
		    				<br />
		    				<br />
		    				<div class="theme-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
			    		</div>
			    		<br/>
				        <div class="col-12 col-md-6">
							<div class="row">
								<div class="col-3">
									<img src="{{url('/assets/images/red-circle.png')}}"/>
								</div>
								<div class="col-9">
									<span class="bullet-item-title">Lorem ipsum dolor</span>
									<p class="bullet-item-content">sit amet, consectetur.</p>
								</div>
							</div>
							 <div class="row">
								<div class="col-3">
									<img src="{{url('/assets/images/green-line-small.png')}}"/>
								</div>
								<div class="col-9">
									<span class="bullet-item-title">Adipiscing elit</span>
									<p class="bullet-item-content">do eiusmod tempor.</p>
								</div>
							</div>
				        </div>
				        <div class="col-12 col-md-6">
				         	<div class="row">
								<div class="col-3">
									<img src="{{url('/assets/images/yellow-star-small.png')}}"/>
								</div>
								<div class="col-9">
									<span class="bullet-item-title">Lorem ipsum dolor</span>
									<p class="bullet-item-content">sit amet, consectetur.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									<img src="{{url('/assets/images/blue-circle-small.png')}}"/>
								</div>
								<div class="col-9">
									<span class="bullet-item-title">Adipiscing elit</span>
									<p class="bullet-item-content">do eiusmod tempor.</p>
								</div>
							</div>
				        </div>
			    	</div>
		    	<div class="row card-row">
			    		<div class="col-12 col-md-4 card-col">
			    			<div class="green-card">
			    				<span class="card-item-title">Fun Title</span>
								<p class="bullet-item-content">Lorem ipsum dolor sit amet, consectetur</p>
			    			</div>
			    		</div>
			    		<div class="col-12 col-md-4 card-col">
			    			<div class="blue-card">
			    				<span class="card-item-title">Fun Title</span>
								<p class="bullet-item-content">Lorem ipsum dolor sit amet, consectetur</p>
			    			</div>
			    		</div>
			    		<div class="col-12 col-md-4">
			    			<div class="red-card">
			    				<span class="card-item-title">Fun Title</span>
								<p class="bullet-item-content">Lorem ipsum dolor sit amet, consectetur</p>
			    			</div>
			    		</div>
			    	</div>
	    		</div>
	    	</div>
	    	<div class="col-12 col-md-4 bullet-point-block">
	    		<div class="phone-image"></div>
	    	</div>
	    </div>
	    <div class="row">
		    <div class="input-email-block">
		    	<div class="row input-email-block-child">
		    		<div class="col-12 col-md-6">
		    			<span class="input-email-block-title">Sound like a good app to you? Sign up to our mailing list for regular updates.</span>
		    		</div>
		    		<div class="col-12 col-md-6">
			    		{# <input class="form-control email-input-field" type="text" placeholder="Email address" aria-label="Email address">
						<button class="btn btn-elegant btn-sign-up-input" type="submit">Sign up</button> #}
						<div class="input-group email-input-group">
				            <input type="search" placeholder="Email address" aria-describedby="button-addon5" class="form-control email-input-field">
				              <button id="hero-sign-up" type="submit" class="btn-sign-up-input" data-toggle="modal" data-target="#signUpModal">Sign up</button>
				        </div>
		    		</div>
				</div>
		    </div>
		</div>
	    
	    <div class="row">
			<div class="col-12 col-md-4 content-block">
				<div class="container bullet-item-block">
					<div class="row">
						<div class="hand-header">
							<h1 class="hero_title">Your world of resources</h1>
							<br/>
							<br/>
							<div class="theme-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
						</div>
					</div>
				</div>
	    	</div>
	    	<div class="col-12 col-md-8 pl-0">
		    	<div class="content-text">
					<span>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					</span>
				</div>
				<img src="{{url('/assets/images/bullet-yellow-star.png')}}"  class="yellow-star"/>
				<div class="hand-asset">
	          	</div>
	          
	          	<div class="green-retangle">
	          	</div>
	    	</div>
    		<div class="content-yellow-footer">
    			<div class="hand-image">
    			</div>
    		</div>
	    </div>
    </div>


    <!-- Modal -->
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog sign-up-modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header sign-up-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        	<div class="row sign-up-block">
		        <div class="col-12 col-md-6">
			        <div class="row">
						<div class="sign-up-image"></div>
					</div>
		        </div>
		        <div class="col-12 col-md-6">
				  <div class="row">
				      <div class="sign-up-form">
				          <form id="sign-up-form" class="form" action="#" method="POST" role="form">
				              <div class="form-group">
				                  <input type="text" class="form-control form-control-1" id="name" name="name" placeholder="Full Name" tabindex="1" required>
				              </div>     
				              <div class="form-group">
				                  <input type="text" class="form-control form-control-1" id="name" name="name" placeholder="Company Name" tabindex="2" required>
				              </div>
				              <div class="form-group">
				                  <input type="text" class="form-control form-control-1" id="name" name="name" placeholder="Address" tabindex="3" required>
				              </div>
				              <div class="form-group">
				                  <input type="text" class="form-control form-control-1" id="name" name="name" placeholder="Mobile Number" tabindex="4" required>
				              </div>                            
				              <div class="form-group">
				                  <input type="email" class="form-control form-control-1" id="email" name="email" placeholder="Email" tabindex="5" required>
				              </div>                            
				              <div class="form-group">
				                  <input type="text" class="form-control form-control-1" id="subject" name="subject" placeholder="What kind of service do you provide?" tabindex="6">
				              </div>
				              <div class="form-group">
				                  <input type="text" class="form-control form-control-1" id="subject" name="subject" placeholder="How many years have your business been in operation?" tabindex="7">
				              </div>                            
				              <div class="form-group">
				               	<label class="form-label price_range_label" for="price_range">Price Range</label>
				               	<br/>
				                <div id="rangeSlider"></div>                                 
				              </div>
				              <br/>
				              <div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="sign-up-checkbox">
								  <label class="form-check-label" for="sign-up-checkbox">
								    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
								  </label>
								</div>
								<br/>
				              <div class="text-center">
				                  <button type="submit" class="btn btn-sign-up-submit">Sign Up</button>
				              </div>
				          </form>
				      </div>
				  </div>
		        </div>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}